*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(195, 255, 249);
}
.menu{
    margin-left: 100px;
    margin-bottom: 10px;
    background-color: rgb(250, 250, 251);
    border-radius: 10px;
    padding: 20px;
    width: calc(100% - 200px);
    display: flex-box;
    align-items: center;
}
.menu button, .menu input{
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 16px;
}
.menu button{
    color: rgb(255, 255, 255);
    background-color: rgb(41, 122, 188);
    border:none;
    cursor:pointer;
    border-radius: 5px;
}
.menu button:hover{
    background-color: rgb(11, 34, 84);
}

.canvas{
    margin-left: 100px;
    border-radius: 15px;
    background-color: white;
}
.cargar_imagen{
    width: 200px;
    height: 100px;
    border: 2px solid black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid rgb(41, 122, 188);
    border-radius: 10px;
}
.menu2{
    margin-top: 10px;
    right: 50px;
    background-color: rgb(250, 250, 251);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    position: fixed;

}
.menu2, input{
    border-radius: 5px;
    border: none;
    margin: 10px;    
}